* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    font-size: 16px;
}
body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    margin-top: auto;
}
.container{
    width: min(1000px, 80%);
}
h1{
    display: inline-block;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman';
    font-size: clamp(1.2em, 2.5vw, 2em);
    color: grey;
}
header{
    text-align: center;
    font-size: 1em;
}
span{
    color: black;
    display: block;
    font-size: 2em;
    margin: -0.7rem;
}
nav{
    margin-top: 1.2rem;
    padding: 1em 0em;
    border: 2px solid red;
    border-right: none;
    border-left: none;
    border-top-color: rgb(0, 0, 0) ;
    border-bottom-color: rgb(177, 176, 176);
}
nav>ul li{
list-style: none;
display: inline-block;
}
ul>li a{
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    margin: 0 1em;
    padding: 0.4em 0.4em;
}
a[href="#visited"]{
    color: orange;
}
.wrapper{
    display: flex;
    margin-top: .8rem;
}
.wrapper>img{
    width:calc(100% - 66.6%);
}
p{
    font-size: 1rem;
    text-align: center;
    margin-top: 1rem;
}

